<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kw.mapit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_mapit"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".KakaoSignupActivity" />
        <activity android:name=".DbConnectActivity" />
        <activity android:name=".DataMakingActivity" />
        <activity
            android:name=".TextActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".MassDataActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".PixelActivity" />
        <activity android:name=".PixelActivity2" />
        <activity android:name=".InputDataActivity" />
        <activity android:name=".PopularHashTagActivity" />
        <activity android:name=".GPSActivity" />
        <activity android:name=".HashPopularActivity" />
        <activity
            android:name=".MenuPopup"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <!-- Kakao Login -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".HashRecentActivity"></activity>
    </application>

</manifest>